<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Receipt Scanner{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- iOS specific -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Receipt Scanner">
        <!-- Android specific -->
        <meta name="theme-color" content="#3498db">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Receipt Scanner">
        <!-- Icons -->
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='images/favicon_32x32.png') }}">
        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', path='images/favicon_144x144.png') }}">
        <link rel="manifest" href="{{ url_for('static', path='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}

            {% if request.session.firefly_token %}
            <div class="form-group" style="margin-top: 20px; margin-bottom: 0;">
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </div>
            {% endif %}
        </div>
        {% block extra_scripts %}{% endblock %}
    </body>
</html> 